html {
    background-color: rgba(33,37,41,1);
}

body {
    font-size: 1.1rem;
}

.w100 {
    width: 100%;
}

.vsites div {
    margin-top: 2em;
}

.container img {
    border: 5px solid white;
    filter: drop-shadow(2px 2px 3px grey);
}

.vsites img {
    max-height: 300px;
    object-fit: cover;
}

h3 a {
    text-decoration: none;
}
